APP_ENV=production
APP_DEBUG=false
APP_URL=https://exemplo.ifsuldeminas.edu.br
APP_TIMEZONE=America/Sao_Paulo
SESSION_SECURE=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=matrizconif
DB_USERNAME=matrizconif
DB_PASSWORD=troque_esta_senha

INITIAL_ADMIN_EMAIL=administrador@exemplo.edu.br
